#project-mar-h2 {
  margin: 0;
}

.project-div {
  color: #fff;
  padding-top: 6%;
  box-shadow: 0px 5px 30px #450b7c6c;
  padding-bottom: 30px;
  background-image: linear-gradient(to top right, #450b7c, #563cc9, #49e9fb);
}
.project-div h2 {
  color: #fff;
}

#wanttoseemore {
  margin: 0 auto;
  text-align: center;
  color: #fff;
  text-decoration: none;
  display: block;
  border-radius: 200px;
  background-image: linear-gradient(to top right, #450b7c, #563cc9, #49e9fb);
  width: 200px;
  padding: 15px;
  box-shadow: 0 10px 30px #563cc9;
}
