#footer {
  background-image: linear-gradient(to bottom right, #c04de2, #340c7f);
  height: 100vh;
  position: relative;
}

#footer-mask {
  width: 100%;
  background-image: url("../../imgs/footer-white-mask.png");
  height: 40vh;
  background-size: cover;
  background-position: center;
}
#footer h2 {
  font-size: 30px;
  color: #fff;
}
#socials {
  width: 30%;
  margin: 0 auto;
  display: flex;
  height: 20vh;
  align-items: center;
  justify-content: space-evenly;
}
#madewith {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, -50%);
}
#socials img {
  height: 60px;
}
